* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

}


img {
    width: 120px;
    height: 120px;
}

.circle {
    border-radius: 50%;
}

.camel {
    display: flex;

    border: 10px solid green;

}

.cat {
    display: flex;
    order:1;
    border: 10px solid yellow;
}

.horse {
    display: flex;

    border: 10px solid red;
}